@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "/node_modules/normalize.css/normalize.css" ; tailwind already includes this */
body{@apply error-con }
.card:hover div { @apply translate-y-0;  } 

.error-con {
    background: rgba(255, 0, 89, 1);
    background: -webkit-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: -moz-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background: linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    background-size: 400% 400%;
    -webkit-animation: errorBg 30s linear infinite;
    -moz-animation: errorBg 30s linear infinite;
    animation: errorBg 30s linear infinite;
    height: 100%;
}

@-webkit-keyframes errorBg {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 15% 100%
    }
}

@-moz-keyframes errorBg {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 15% 100%
    }
}

@keyframes errorBg {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 15% 100%
    }
}

.textoutline  {
    font-family: sans-serif;
       color: white;
       text-shadow:
           1px 1px 0 #000,
         -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
           1px 1px 0 #000;
    }

  .outline-title{
      color: rgba(0, 0, 0, 0);
      -webkit-text-stroke: 2px black;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
    }